h1 {
    margin-left: 615px;
}

.con {
    margin-left: 655px;
    background-color: pink;
    margin-right: 719px;
}

.k {
    margin: 6px;
}

.a {
    margin-left: 5px;
}

body {
    background-color: antiquewhite;
}

#k1 {
    margin-left: 8px;
}